.hero {
    min-height: calc(100dvh - 100px);
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
}

.hero p {
    font-size: clamp(2.5rem, 3vw + 1rem, 6rem);
}

.quoteBlock {
    max-width: 800px;
    text-align: center;
}

.quoteBlock p {
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    font-style: italic;
}

.quoteBlock cite {
    display: block;
    margin-top: 1rem;
    font-style: normal;
    font-weight: bold;
    opacity: 0.7;
}
