---
import { getCollection } from "astro:content";
import Item from "./Item.astro";
import PageHeader from "@/components/common/PageHeader.astro";

interface Props {
    heading: string;
    subtitle: string;
    collection: "devlog" | "projects";
}

const { heading, subtitle, collection } = Astro.props;
const collectn = await getCollection(collection);
console.log(collectn)
---

<PageHeader heading={heading} subtitle={subtitle} />

<div class="container collection">
    {
        collectn.map((item) => (
            <Item
                title={item.data.title}
                description={item.data.description}
                url={collection + "/" + item.id}
            />
        ))
    }
</div>

<style>
    .collection {
        margin-block: 1.5rem;
    }
</style>
