---
import "./styles.css";
import linkIcon from "@/assets/link.svg?raw";
import ThemedIcon from "@/components/icons/ThemedIcon.astro";
import ProjectCarousel from "./ProjectCarousel.astro";
---

<section class="projects">
    <div class="container">
        <a href="/projects" class="headingLink">
            <h2 class="heading">
                Projects
                <ThemedIcon
                    icon={linkIcon}
                    alt="Link"
                    size="small"
                    color="secondary"
                />
            </h2>
        </a>
        <ProjectCarousel />
    </div>
</section>
