.projects {
    padding: clamp(4rem, 8vw, 8rem);
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.project-btn.active .icon-checked {
    display: block;
}

.project-btn.active .icon-unchecked {
    display: none;
}

.project-btn .icon-checked {
    display: none;
}
