.projects {
    padding: clamp(4rem, 8vw, 8rem);
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.project-btn.active .icon-checked {
    display: block;
}

.project-btn.active .icon-unchecked {
    display: none;
}

.project-btn .icon-checked {
    display: none;
}

.project-brief {
    display: flex;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.project-nav {
    margin-block: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .project-brief {
        flex-direction: column;
    }
}
