.header {
    backdrop-filter: blur(10px);
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 18rem;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
}

.logo {
    width: 32px;
    height: auto;
}

.menu {
    width: 32px;
    height: auto;
}
