<section>
    <div class="container">
        <h1>404 - Page Not Found</h1>
        <p>Sorry, you are looking for what can't be found.</p>
        <p>
            Let's go back <a href="/">home</a>.
        </p>
    </div>
</section>

<style>
    section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
