---
interface Props {
	heading: string;
	tags: string[];
}

const { heading, tags } = Astro.props;
---

<div class="container">
    <header>
        <hgroup class="header-group">
            <h1>{heading}</h1>
            <div class="tags">
                {tags.map((tag) => <span>{tag}</span>)}
            </div>
        </hgroup>
    </header>
</div>

<style>
    header {
        padding-block: clamp(2rem, 5vw, 4rem);
        border-bottom: 1px solid;
    }

    .header-group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    h1 {
        font-size: clamp(2.5rem, 8vw, 5rem);
        font-weight: 700;
        line-height: 1.1;
        margin: 0;
    }

    .tags {
        display: flex;
        gap: 1rem;
    }

    span {
        font-size: normal;
        opacity: 0.8;
        font-weight: 400;
        border: 1px dashed;
        padding: 0.5rem;
    }
</style>
