---
import "../styles/global.css";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Victor Adebowale Momodu</title>
    </head>
    <body>
        <div>
            <Header />
            <slot />
            <Footer />
        </div>
    </body>
</html>
