---
import Header from "../components/Header.astro";
import styles from "./BaseLayout.module.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Victor Adebowale Momodu</title>
    </head>
    <body class={styles.body}>
        <Header />
        <slot />
    </body>
</html>
