---
import styles from "./Footer.module.css";
import logoImage from "@/assets/logo.svg?raw";
import logoImage_ from "@/assets/logo.svg";
import menuImage from "@/assets/menu.svg?raw";
import IconPrimary from "@/components/icons/IconPrimary.astro";
---

<section class={styles.footer}>
    <div class="container">
        <IconPrimary icon={menuImage} alt="Logo" size="large" />
        <img src={logoImage_.src} alt="Logo" class={styles.logo} />
    </div>
</section>
